body {
    display: flex;
    flex-direction: column;
}
.one {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}
.one .child1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.header-logo {
    height: 60px;
    width: 60px;
    margin-right: auto;
}
ul {
    gap: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
  }
.one .child12 {
    display: flex;
    color: #E5E7EB;
    padding: 10px;
    font-family: 'Roboto', arial;
    gap: 56px; 
}  
.logo-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
    font-stretch: extra-expanded;
}
.one .child11 { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 32px;
    flex-grow: 0;
}
.one .child12 .child122 {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-around;
  }
.child11 .child111 {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}
.placeholder {
    object-fit: cover;
    width: 600px;
    height: 350px;
    border: 4px solid;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}
.heading-one {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.content-one {
    font-size: 18px;
    color: #e5e7eb;
}
.text {
    display: flex;
    padding: 8px;
    margin: 8px;
    font-weight: lighter;
}
button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}
.two {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 64px;
    text-align: center;
  }

.child2 {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
  }
.child21 {
    max-width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
.dog-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
  }
.three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 86px;
    margin-top: 36px;
    padding: 0 200px;
}
.child3 {
    font-size: 26px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}
.three .child31 {
    display: flex;
    color: #1f2937;
    font-weight: bold;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
}
.four {
    display: flex;
    flex-shrink: 3;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 80px;
    padding: 80px;
    color: white;

}
.four .child42 {
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 75px;
}
.four .child41 {
    font-size: 36px;
}
.footer {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}